<ion-view>
  <ion-content has-header="true" class="padding">
    Room: {{getBookedRoom().id + " (" + getBookedRoom().type + ")"}}.<br>
    Number of guests: {{getTotalGuests()}}, {{getAdultGuests()}} adult(s) and {{getChildGuests()}} child(ren).<br>
    Price: 100 /Night. <br> <br>
    Order made by:<br>
    Name: X Xson<br>
    Email: x@x.com<br>
    Telephone: 000-00 00 00<br><br>
    Confirm Purchase<br>
    <button class="button"><i class="icon ion-ios-circle-outline"></i><ion-spinner icon="ripple"  class="spinner-energized"></ion-spinner><i class="icon ion-ios-checkmark-outline"></i></button>
    <p ng-show="confirm">Purchase confirmed!</p>
  </ion-content>
</ion-view>
