<ion-tabs class="tabs-balanced tabs-icon-top">
  <ion-tab title="Welcome" icon-on="ion-ios-heart" icon-off="ion-ios-heart-outline" href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="When" icon-on="ion-ios-calendar" icon-off="ion-ios-calendar-outline">
    <ion-view>
      <ion-content has-header="true" class="style-background">
        <label class="item item-input">
            <span class="input-label">Date check-in</span>
            <input type="date">
            </label>
        <label class="item item-input">
            <span class="input-label">Date check-out</span>
            <input type="date">
            </label>
        <label class="item item-input">
            <span class="input-label">Number of guests</span>
            <input type="number" placeholder="1" min="1" max="11">
            </label>
      </ion-content>
    </ion-view>
  </ion-tab>
  <ion-tab title="Room" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/tab/rooms">
    <ion-nav-view name="rooms-tab" ></ion-nav-view>
  </ion-tab>
  <ion-tab title="Who" icon-on="ion-ios-person" icon-off="ion-ios-person-outline">
    <ion-view>
      <ion-content has-header="true">
      </ion-content>
    </ion-view>
  </ion-tab>
  <ion-tab title="Confirm" icon-on="ion-ios-checkmark" icon-off="ion-ios-checkmark-outline">
    <ion-view>
      <ion-content has-header="true">
        Confirm Purchase<br>
        <button class="button"><i class="icon ion-ios-circle-outline"></i><ion-spinner icon="ripple"  class="spinner-energized"></ion-spinner><i class="icon ion-ios-checkmark-outline"></i></button>
        <p ng-show="confirm">Purchase confirmed!</p>
      </ion-content>
    </ion-view>
  </ion-tab>
</ion-tabs>
